doctype html
html
  head
    meta(name="viewport", content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="no")
    meta(name="format-detection", content="telephone=no")
    title= title
    link(rel='stylesheet', href='/lib/weixin-style.css')
    block head
  body
    block content
    block scripts
